@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./root.css");
* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
body {
  background-color: var(--mix-white) !important;
}
.container1140 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.ff-Noto {
  font-family: "Noto Serif";
}
.ff-Moderno {
  font-family: "ModernoFBComp";
}

.ff-perpetua {
  font-family: Perpetua Titling MT;
}
@font-face {
  font-family: Perpetua Titling MT;
  src: url(../font/perpetua.ttf);
}
@font-face {
  font-family: ModernoFBComp;
  src: url(../font/ModernoFBComp-Regular.otf);
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* ----------------------------------Nav bar------------------------ */
.py-14 {
  padding: 14px 0;
}
.navPercent {
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 3px 4px;
  background-color: transparent;
}
.navPercent2 {
  border: 1px solid var(--red);
  border-radius: 5px;
  padding: 3px 4px;
  background-color: transparent;
}
.gap-62 {
  gap: 62px;
}
.gap-178 {
  gap: 178px;
}
.gap-18 {
  gap: 18px;
}
.gap-7 {
  gap: 7px;
}
.ms-02 {
  margin-left: 2px;
}
.py-8-15 {
  padding: 8px 0 15px;
}
.WalletBtn {
  padding: 12px 16px;
  background-color: var(--yellow);
  border: 2px solid var(--black);
  transition: all 300ms linear;
}
.WalletBtn:hover {
  background-color: var(--black);
  color: var(--yellow);
}
nav > :last-child {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
ul > li {
  border-left: 2px solid var(--black);
  padding: 8px 24px;
}
ul > :last-child {
  border-right: 2px solid var(--black);
}
.navItem {
  transition: all 300ms linear;
}
.navItem:hover {
  -webkit-text-stroke: 0.6px;
}
.navImg {
  transition: 300ms linear;
}
.navImg:hover {
  scale: 1.3;
}
/* ----------------------------------hero section-----------------------*/

.pt-25 {
  padding-top: 25px;
}
.imgBorder {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

/* ---------------------------------BREAKING NEWS------------------- */

.py-67-64 {
  padding: 67px 0 64px;
}
.newshadow {
  text-shadow: 2px 2px 4px var(--shadowblack);
  text-shadow: 2px 2px 1px 0px var(--shadowGray) inset,
    /* Inner shadow */ 2px 2px 4px 0px var(--shadowblack); /* Outer shadow */
}

.max-475 {
  max-width: 475px;
}
.readMore::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  bottom: 0;
  left: 0;
}
.px-43-12 {
  padding: 0 12px 0 43px;
}
.marchBorder {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.marchBorder .row {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}
.marchBorder .row > :last-child {
  border-left: 2px solid var(--black);
}
.marchBorder .row {
  --bs-gutter-x: unset !important;
}

/* -------------------------- Latest Tweets ------------------- */
.py-90 {
  padding: 90px 0;
}
.gap-55 {
  gap: 55px;
}
.mb-13 {
  margin-bottom: 13px;
}
.gap-11 {
  gap: 11px;
}
.scales-1 {
  scale: 1;
}
.slick-arrow.slick-hidden {
  display: unset !important;
}
.mb-14 {
  margin-bottom: 14px;
}
.LatestTweets {
  text-shadow: 2px 2px 1px var(--mixgray) inset;
  text-shadow: 2px 2px 4px var(--mixblack);
}
.responsive .slick-slide > div {
  padding: 50px 21px 46px;
  height: 100% !important;
}
.responsive .slick-slide > div > div {
  max-width: 327px !important;
  width: 100% !important;
  height: 100% !important;
}
.responsive .slick-slide {
  border-right: 2px solid var(--black);
  height: 100% !important;
}
.sliderBorder {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.slick-list {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}
.pointer {
  cursor: pointer;
}

.mt-88 {
  margin-top: 88px;
}
/* ----------------------------------minting-------------------- */
.minting {
  text-shadow: 2px 2px 1px var(--mixgray) inset;
  text-shadow: 2px 2px 4px var(--mixblack);
}
.px-25-12 {
  padding: 0 12px 0 25px;
}
.max-438 {
  max-width: 438px;
}
.mintData {
  border: 2px solid var(--black);
  width: 238px;
  height: 53px;
}
.mintData > :first-child {
  background-color: transparent;
  padding: 2px 24px;
}
.mintData > :nth-child(2) {
  padding: 2px 24px;
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}
.mintData > :last-child {
  padding: 2px 24px;
  background-color: transparent;
}
.mb-35 {
  margin-bottom: 35px;
}
.py-21 {
  padding: 21px 0;
}
.mb-12 {
  margin-bottom: 12px;
}
.mintingBorder {
  border-bottom: 2px solid var(--black);
}
/* ---------------------------------road map---------------------------- */

.roadBorder {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.timeline {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  position: relative;
  width: 100%;
}
.pt-100 {
  padding-top: 100px;
}
.timeline :last-child {
  padding-bottom: 0;
}
.roadline {
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  max-height: 1533px;
}
.roadBox {
  padding: 0 75px 0 36px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.roadBox::after {
  content: url("../img/svg/roadImg.svg");
  position: absolute;
  width: 59px;
  height: 59px;
  right: -29px;
  top: 0;
  z-index: 10;
}
.left {
  left: 0;
}
.right {
  left: 50%;
  padding-right: 0;
  padding-left: 75px;
}
.right::after {
  left: -29px;
}

.my-10-12 {
  margin: 10px 0 12px;
}
.setRoadimg {
  left: -30px;
  top: 0;
  z-index: 1;
}
.timeline > :nth-child(3) {
  top: -119px;
}
.timeline > :nth-child(4) {
  top: -119px;
}
.timeline > :nth-child(5) {
  top: -196px;
}
.timeline > :nth-child(6) {
  top: -213px;
}
.timeline > :nth-child(7) {
  top: -236px;
}
.timeline > :nth-child(8) {
  top: -224px;
}
.timeline > :nth-child(9) {
  top: -250px;
}
/* -------------------------------------team------------------------ */
.h-326 {
  height: 326px !important;
}
.hardoText {
  text-shadow: -1px -1px 1px 0px var(--blkmix) inset;
  text-shadow: 1px 1px 1px 0px var(--white) inset;
}
.pt-56 {
  padding-top: 56px;
}
.responsive2 .slick-slide.slick-current {
  border-right: 2px solid var(--black);
  height: auto !important;
}
.responsive2 .slick-list {
  height: 326px;
}
.responsive2 .slick-slide.slick-current h2 {
  color: var(--d-brown) !important;
}
.responsive2 .slick-slide {
  background-image: url("../img/png/sliderBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* -----------------------------------------footer------------------ */
.faqBorder {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.faqBorder > :nth-child(2) {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

.accordion_card {
  height: auto;
  background-color: transparent;
}
.accordion_item {
  border: 2px solid var(--black);
  border-top: 0;
  padding: 32px 41px 43px 30px !important;
  transition: 300ms all linear;
  cursor: pointer;
}
.accordion_card > :last-child {
  border-bottom: 0;
}
.accordion_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.accordion_body {
  padding-top: 16px;
  padding-right: 66px;
  display: none;
}

.active > .accordion_body {
  padding-top: 16px;
  display: block;
}
.active {
  padding: 33px 41px 24px 30px !important;
}
.active svg {
  transform: rotate(180deg);
}
.py-32-24 {
  padding: 32px 0 24px;
}
.backtop {
  position: fixed;
  cursor: pointer;
  display: none;
  right: 1%;
  bottom: 2%;
  opacity: 0.9;
  border-radius: 50%;
  background: var(--black);
  height: 51px;
  width: 51px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: var(--shadowWhite) 0px 0px 8px -1px !important;
}
.scale_06 {
  scale: 0.6;
}
.backtop {
  animation: move 1.3s infinite linear;
}
.backtop:hover {
  animation: move 5s infinite linear !important;
}
@keyframes move {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ------------pre loader --------------- */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader {
  width: 260px;
  height: 120px;
  background: transparent;
  border: 4px solid var(--white);
  border-bottom: 0;
  border-top: 0;
  animation: spin 1s linear infinite;
  border-radius: 10px;
}
@keyframes spin {
  50% {
    transform: translatex(50px);
  }
  100% {
    transform: translatex(0px);
  }
}
.overflow_hidden {
  overflow: hidden !important;
}
